{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "extends": "airbnb-base",
  "rules": {
    "global-require": 0,
    "prefer-template": 0,
    "prefer-destructuring": ["error", {
      "array": false,
      "object": true
    }],
    "no-unused-expressions": ["error", {
      "allowShortCircuit": true,
      "allowTernary": false
    }],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ],
    "no-unused-vars": 1,
    "class-methods-use-this": 0,
    "no-use-before-define": ["error", { "functions": false }],
    "no-underscore-dangle": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}
